.container{
    background: rgb(199, 236, 33);
    padding: 10px;
    margin:5px;
    border-radius: 10px;
    display:flex;
    gap:16px;
    align-items: center;
}

.body{
    background-image: skyblue;
}

.avatar{
    border-radius:50%;

}